<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

**Testing BigQuery**

Here I am pulling the total amount of rows because it is the first part of the assignment.  But, I would also like to make sure that I can actually get BigQuery to work since it is my first time ever using it.

In [5]:
%%bigquery --project data-viz-338716
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_rows
0     1424786

Since I am unsure of what data I actually have I will use SELECT* to see every column in the table and limit it at 5 rows so I don't waste resources.

In [10]:
%%bigquery --project data-viz-338716
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

The next part of the assignment asks that we find the longest trip so I will use the MAX function.

In [18]:
%%bigquery --project data-viz-338716
SELECT MAX(duration_minutes) as longest_time_in_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   longest_time_in_minutes
0                    34238

That seemed like a VERY long trip so I was not sure if I had gathered the right information.  I then decided to list the top 5 longest trips just to see if that was accurate and remembered to gather the trip_id this time.

In [26]:
%%bigquery --project data-viz-338716
SELECT trip_id, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
ORDER BY duration_minutes DESC
LIMIT 5

      trip_id  duration_minutes
0    20465659             34238
1    21779846             22993
2  9900012849             21296
3    20530041             21197
4    20488014             20695

Okay so it seems to check out as long as I either did the right thing twice or the wrong thing twice.  Now we need to compute the average so instead of using the MAX function I will use the AVG function.

In [27]:
%%bigquery --project data-viz-338716
SELECT AVG(duration_minutes) as average_trip_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   average_trip_time
0          30.870428

I was actually surprised to see that the average time was ~31 minutes considering the longest trips were so high.  I am now going to see the top 100 longest and shortest trips to see whats going on with that.

In [30]:
%%bigquery --project data-viz-338716
SELECT trip_id, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
ORDER BY duration_minutes DESC
LIMIT 100

       trip_id  duration_minutes
0     20465659             34238
1     21779846             22993
2   9900012849             21296
3     20530041             21197
4     20488014             20695
..         ...               ...
95    21819619              6188
96  9900052716              6134
97    19708304              6128
98    11712091              6118
99    22747996              6061

[100 rows x 2 columns]

In [29]:
%%bigquery --project data-viz-338716
SELECT trip_id, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
ORDER BY duration_minutes ASC
LIMIT 100

       trip_id  duration_minutes
0   9900294011                 0
1   9900290190                 0
2   9900295368                 0
3   9900291473                 0
4   9900292751                 0
..         ...               ...
95  9900300783                 0
96  9900299394                 0
97  9900296970                 0
98  9900292926                 0
99  9900286214                 0

[100 rows x 2 columns]

It appears that there are many people who would check out a bike and return it right there? Perhaps they changed their minds after renting.