<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First lets get pandas and our data.

In [2]:
import pandas as pa

In [12]:
df = pa.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv")
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

Depending on how you want to look at the data I think would determine differently how you would group it, but I think that the neghbourhood_groups being dummies makes sense in the way that you want to see what sections are more popular for AirBNB, HOWEVER, I think that if you are wanting to look in to what type of AirBNB is rented most often then the room_type should be the dummies.

In [13]:
pa.get_dummies(df.neighbourhood_group).head()

   Bronx  Brooklyn  Manhattan  Queens  Staten Island
0      0         1          0       0              0
1      0         0          1       0              0
2      0         0          1       0              0
3      0         1          0       0              0
4      0         0          1       0              0

In [21]:
roomtype = sorted(df.room_type.unique())

roomtype

['Entire home/apt', 'Private room', 'Shared room']

In [22]:
roomdict = {}

for i in range(3):
  roomdict[roomtype[i]] = i

roomdict

{'Entire home/apt': 0, 'Private room': 1, 'Shared room': 2}

So I set the rooms to a dictionary because I feel like room types make more sense than neighbourhood types.